/* common css begin */


/* import google font begin */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,900");
/* import google font begin */


/* webpage selection background begin */
::selection {
    color: #fff;
    background: #ff0090;
}
/* webpage selection background end */


/* web scroll bar width size begin */
::-webkit-scrollbar {
    width: 5px;
}
/* web scroll bar width size end */


/* web scroll bar track background color begin */
::-webkit-scrollbar-track {
    background: #fff;
}
/* web scroll bar track background color end */


/* Web scroll bar Handle Css Begin */
::-webkit-scrollbar-thumb {
    background: #111;
}
/* Web scroll bar Handle Css End */


/* web scroll bar hover background color begin */
::-webkit-scrollbar-thumb:hover {
    background:#000;
}
/* web scroll bar hover background color end */


/* Body Section Css Begin */
body {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    overflow-x: hidden;
    font-weight: Regular;
    line-height: normal;
    background: #000;
}
/* Body Section Css End */


/* Navbar Css Begin */
.bg-dark {
    background: #000 !important;
    box-shadow: 0 0.5rem 2rem #111 !important;
}

.nav-link:hover{
    color:#ff0090 !important;
}
.active a{
    color:#ff0090 !important;
}
.navbar-toggler:focus, .navbar-toggler:hover{
    border:0px !important;
    outline: 0 !important;
}
/* Navbar Css End */

.ls-2 {letter-spacing: 2px;}
.fw-900{font-weight: 900;}
.fw-700{font-weight: 700;}
.fw-600{font-weight: 600;}
.fs-50{font-size: 50px;}
.fs-40{font-size: 40px;}
.fs-30{font-size: 30px;}
.fs-22{font-size: 22px;}
.fs-20{font-size: 20px;}
.fs-18{font-size: 18px;}
.fs-14{font-size: 14px;}
.fs-16{font-size: 16px;}
.brand-color {color: #ff0090;}
.brand-bg {background:#ff0090  !important;}
.black-md{color:#3e3e3e;}
.black-color{color:#111;}
.black-bg{background: #111;}
.desc{color:#4e4e4e;}
.bg-black{background: #000;}
.title-gray{
    color:#808080;
}

/* common css end */

/* Home page css begin */
.home_section {
    
    padding: 50px 50px; 
}
.btn-secondary {
    border-color: #ff0090;
    background: #ff0090;
    border:1px solid #000;
    font-weight: normal;
    font-size: 14px;
    border-radius: 0px;
}
.btn-secondary:hover {
    color: #fff !important;
    background: #ff0090 !important;
    border-color: #ff0090; 
}
.work_process_section {
    padding: 30px 50px 100px 50px;
    background: #000;
}
.work_process_section .fa {
    margin-bottom: 15px;
}
.work_process_section .box{
    padding: 40px 20px;
}
.work_flow_section{
    padding: 30px 50px 100px 50px;
    background: #111;   
}

.work_flow_section .fa {
    margin-bottom: 15px;
}
.work_flow_section .box{
    padding: 40px 20px;
}

.work_tools_section {
    padding: 10px 50px 50px 50px;
    
}
.work_tools_section .fa {
    margin-bottom: 15px;
}
.work_tools_section .box {
    padding: 20px;
}

.box-shadow{
    transition: box-shadow 0.3s ease-in-out;
    position: relative;
    padding: 30px;
    -moz-box-shadow: 5px 5px #222 !important;
    -webkit-box-shadow: 5px 5px #222 !important;
    box-shadow: 5px 5px #222 !important;
    transition: box-shadow 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transform: scale(1); 
}
.box-shadow:hover{
    -moz-box-shadow: 8px 8px #ff0090 !important;
    -webkit-box-shadow: 8px 8px #ff0090 !important;
    box-shadow: 8px 8px #ff0090 !important;
    cursor: pointer;
  transform: scale(1.1);
}
.worktools_box {
    padding: 1% 0%;
    transition: box-shadow 0.3s ease-in-out;
    background: transparent;
}
.worktools_box img{
    transition: box-shadow 0.3s ease-in-out;
    width:80px;
    height: 80px;
    background: transparent !important;
}
.worktools_box img:hover{
    box-shadow: 0 1rem 6rem #ff0090 !important;
    cursor: pointer;
    background: transparent !important;
}

/* Home page css end */

/* About Page Css Begin */
.about_intro_section{
    padding:30px 50px 30px 50px;
    margin-top:130px;
    margin-bottom:78px;
    -moz-box-shadow: 5px 5px #222 !important;
    -webkit-box-shadow: 5px 5px #222 !important;
    box-shadow: 5px 5px #222 !important;
    transition: box-shadow 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transform: scale(1);   
}
.about-social-icon{
    transform: scale(1); 
    transition: transform 0.5s ease-in-out;
}
.about-social-icon:hover {
  color:#ff0090;
  transform: scale(1.5); 
  cursor: pointer;
}

.panel-title:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f056";
    padding-right: 5px;
}
a.collapsed .panel-title:before {
    float: right !important;
    content:"\f055";
}
.panel-heading a:hover  , 
.panel-heading a:active , 
.panel-heading a:focus  {
    text-decoration:none;
}
/* About Page Css End */

/* Services Page Css Begin */
.servicesSection{
    padding:10% 3%;
}

/* Services Page Css Begin */

/* Portfolio Page Css Begin */
.portfolio-container{
    padding: 150px 50px;
}

.portfolio-button{
    margin-top:15px;
}
.portfolio-container .shadow{
    padding: 15px 15px;
}
.modal-xl {
    min-width: 100% !important;
    margin: 0 !important;
}
.modal{
    padding-right: 0px !important;
}
.modal-body{
    padding: 30px 50px 50px !important;
    background: #111;
}
.modal-xl .modal-content {
    min-height: 100vh !important;
    border:0px;
}
.close{
    color:#fff;
}
.close:hover{
    color:#fff;   
}
.btn:focus {
    outline: none !important;
    background: #ff0090 !important;
    border:0px !important;
    box-shadow: none !important;
    color:#fff;
  }
.modal-header{
    border:0px;
   background: #111;;
}

.website-modal-box{
    margin-top:50px;
}
/* Portfolio Page Css Begin */

/* Contact Page Css Begin */

/* Contact Page Css Begin */

@media (max-width: 768px) {
   
}


/* Media Query Css Begin  */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
/* STYLES GO HERE */
    .box {
        margin-top: 30px;
    }
    .fs-50 {
        font-size: 35px;
    }
    .home_img_section{
        margin-top:15%;
    }
    .box-shadow{
        margin-top:50px;
    }
  
    .worktools_box{
        width:50%;
        margin-top:10%;
    }
    .about-social-icon-box{
        display: inline-block !important;
        width: 0% !important;
    }
    .about-second-column-for-mob-gap{
        margin-top:30px;
    }
    .servicesSection{
        padding:20% 3%;
    }
    .portfolio-container {
        padding: 70px 50px;
    }
    .btn-block {
        display: block;
        width: 50%;
    }
    .modal-body {
        padding: 0px 50px 50px !important;
    }
    .portfolio-container .shadow{
        margin-top:10%;
    }
    .for-mobile-gap-form{
        margin-top:30%;
    }

}
@media only screen and (min-width : 467px) and (max-width : 528px) {
.for-media-size{
    font-size:35px;
}
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 481px) and (max-width : 520px) {
    .home_img_section{
        margin-top:15%;
    }
    .box-shadow{
        margin-top:50px;
    }
    .worktools_box{
        width:50%;
        margin-top:10%;
    }
    .about-social-icon-box{
        display: inline-block !important;
        width: 0% !important;
    }
    .about-second-column-for-mob-gap{
        margin-top:30px;
    }
    .servicesSection{
        padding:20% 3%;
    }
    .portfolio-container {
        padding: 70px 50px;
    }
    .btn-block {
        display: block;
        width: 50%;
    }
    .modal-body {
        padding: 0px 50px 50px !important;
    }
    .portfolio-container .shadow{
        margin-top:10%;
    }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 521px) and (max-width : 580px) {
    .home_img_section{
        margin-top:15%;
    }
    .box-shadow{
        margin-top:50px;
    }
    .worktools_box{
        width:50%;
        margin-top:10%;
    }
    .about-social-icon-box{
        display: inline-block !important;
        width: 0% !important;
    }
    .about-second-column-for-mob-gap{
        margin-top:30px;
    }
    .servicesSection{
        padding:20% 3%;
    }
    .portfolio-container {
        padding: 80px 50px;
    }
    .btn-block {
        display: block;
        width: 50%;
    }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 581px) and (max-width : 620px) {
    .home_img_section{
        margin-top:15%;
    }
    .box-shadow{
        margin-top:50px;
    }
    .worktools_box{
        width:50%;
        margin-top:10%;
    }
    .about-social-icon-box{
        display: inline-block !important;
        width: 0% !important;
    }
    .about-second-column-for-mob-gap{
        margin-top:30px;
    }
    .servicesSection{
        padding:18% 3%;
    }
    .portfolio-container {
        padding: 80px 50px;
    }
    .btn-block {
        display: block;
        width: 50%;
    }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 621px) and (max-width : 680px) {
    .home_img_section{
        margin-top:15%;
    }
    .box-shadow{
        margin-top:50px;
    }
    .worktools_box{
        width:30%;
        margin-top:10%;
    }
    .about-social-icon-box{
        display: inline-block !important;
        width: 0% !important;
    }
    .about-second-column-for-mob-gap{
        margin-top:30px;
    }
    .servicesSection{
        padding:15% 3%;
    }
    .portfolio-container {
        padding: 80px 50px;
    }
    .btn-block {
        display: block;
        width: 50%;
    }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 681px) and (max-width : 767px) {
    .home_img_section{
        margin-top:15%;
    }
    .box-shadow{
        margin-top:50px;
    }
    .worktools_box{
        width:30%;
        margin-top:10%;
    }
    .about-social-icon-box{
        display: inline-block !important;
        width: 0% !important;
    }
    .about-second-column-for-mob-gap{
        margin-top:30px;
    }
    .servicesSection{
        padding:15% 3%;
    }
    .portfolio-container {
        padding: 80px 50px;
    }
    .btn-block {
        display: block;
        width: 50%;
    }
}
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* STYLES GO HERE */
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* STYLES GO HERE */
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 820px) {
  
    .for-mobile-padding-nav{
        padding: 0% 2% !important;
    }
     .home_img_section{
         margin-top:15%;
     }
     .home_section {
         padding: 0px 70px;
     }
     .about-social-icon-box{
        display: inline-block !important;
        width: 0% !important;
    }
    .about-second-column-for-mob-gap{
        margin-top:30px;
    }
    .fs-30{
        font-size:25px;
    }
    .for-media-fs h6{
        font-size:12px;
    }
    
 }
 @media only screen and (min-width : 969px) and (max-width : 1024px) {
    .fs-30{
        font-size:20px;
    }
 }
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 820px) and (max-width : 1024px) {
  
   
    .home_img_section{
        margin-top:15%;
    }
    .home_section {
        padding: 0px 70px;
    }
    .about-social-icon-box{
        display: inline-block !important;
        width: 0% !important;
    }
    .about-second-column-for-mob-gap{
        margin-top:30px;
    }
   
}
 
/* iPads (landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
/* STYLES GO HERE */
    /* .work_process_section {
        padding: 3% 0% 10% 0%;
    } */
}
 
/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
/* STYLES GO HERE */
}

@media only screen and (min-width : 1024px) and (max-width : 1300px) {
    .fs-30{
        font-size:20px;
    }
 }

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    .about-social-icon-box{
        display: inline-block !important;
        width: 0% !important;
    }
    .about-second-column-for-mob-gap{
        margin-top:30px;
    }
/* STYLES GO HERE */
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    .about-social-icon-box{
        display: inline-block !important;
        width: 0% !important;
    }
    .about-second-column-for-mob-gap{
        margin-top:30px;
    }
/* STYLES GO HERE */
}
 
/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen and (min-width : 320px) and (max-width : 568px) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (landscape)----------- */
@media only screen and (min-width : 320px) and (max-width : 568px) and (orientation : landscape) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (portrait)----------- */
@media only screen and (min-width : 320px) and (max-width : 568px) and (orientation : portrait) {
/* STYLES GO HERE */
}

/* Media Query Css End */
